


<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lab Admin Login</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%205%20Pro.css">
    <link rel="stylesheet" href="/assets/css/Nunito.css">
    <link rel="stylesheet" href="/assets/css/features-modern-1.css">
    <link rel="stylesheet" href="/assets/css/features-modern.css">
    <link rel="stylesheet" href="/assets/css/features-v2.css">
    <link rel="stylesheet" href="/assets/css/help-ask-question.css">
    <link rel="stylesheet" href="/assets/css/hero-v1.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card border-0 shadow-lg o-hidden my-5" style="padding-top: 1em;padding-bottom: 1em;margin: 0 30%;">
                    <div class="card-body p-0" style="width:auto;">
                        <div class="row">
                            <div class="col-lg">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back! </h4>
                                    </div>
                                    <form class="user" action="/lab/login" method="POST">
                                        <div class="mb-3"><input class="form-control form-control form-control form-control-user" type="text" aria-describedby="emailHelp" id="exampleInputEmail" name="username" placeholder="Please Enter Username"></div>
                                        <div class="mb-3"><input class="form-control form-control form-control form-control-user" type="password" id="exampleInputPassword" name="password" placeholder="password"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input type="checkbox" class="form-check-input custom-control-input" id="formCheck-1"><label class="form-label form-label form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                                        <hr>
                                        <hr>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>
