<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Welcome To CSE Labs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%205%20Pro.css" />
    <link rel="stylesheet" href="/assets/css/Nunito.css" />
    <link rel="stylesheet" href="/assets/css/aos.min.css" />
    <link rel="stylesheet" href="/assets/css/features-modern-1.css" />
    <link rel="stylesheet" href="/assets/css/features-modern.css" />
    <link rel="stylesheet" href="/assets/css/features-v2.css" />
    <link rel="stylesheet" href="/assets/css/help-ask-question.css" />
    <link rel="stylesheet" href="/assets/css/hero-v1.css" />
    <link rel="stylesheet" href="/assets/css/navbar.css" />
    <link rel="stylesheet" href="/assets/css/untitled.css" />
</head>

<body id="page-top">
    <header>
        <div class="d-lg-flex align-items-lg-center justify-content-xxl-center header__area header__border header__padding header__shadow-2"
            id="header-sticky-1">
            <div class="container" style="/*margin: 15px 0;*/ /*margin-bottom: 15px;*/">
                <div class="row align-items-center">
                    <div class="col-6 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                        <div class="logo">
                            <a href="/"><img src="/assets/img/logo/logo.png" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7 col-xxl-7 d-none d-lg-block">
                        <div class="main-menu main-menu-2 pl-40"></div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                        <div class="text-end d-flex justify-content-end align-items-center header__right">
                            <div class="d-none d-md-flex d-xl-block header__right-btn">
                                <a href="/lab" class="w-btn w-btn-blue w-btn-blue-header ml-30">Lab Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header></header>
    <section class="hero-4 pt-7 pb-3 py-sm-7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5">
                    <h1 class="hero-title">
                        "Effortless Learning Starts with Easy
                        <span class="d-inline-block highlight highlight-warning">Lab Entry."</span>
                    </h1>
                    <p class="mt-4 fs-17">
                        "Simplify your lab experience with our user-friendly app. Scan QR
                        codes effortlessly for swift entry and exit. Streamlined access,
                        just a download away."
                    </p>
                    <div class="pt-3 pt-sm-5">
                     <a href="/CSE_LABS.apk" download>   <button class="btn btn-primary">Download App Now</button></a>
                        <!-- <button class="btn btn-outline-primary ms-2">Know More</button> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="text-end img-container pt-5 pt-sm-0">
                        <img class="img-fluid" data-aos="fade-left" data-aos-duration="1000"
                            src="/assets/img/hero/startup1.svg" alt="startup1" />
                    </div>
                </div>
            </div>
        </div>
        <div class="shape bottom"></div>
    </section>
    <section class="section py-5 features-2 position-relative overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span class="badge rounded-pill badge-soft-primary px-2 py-1">Guide</span>
                    <h1 class="display-5 fw-semibold">
                        Effortless Lab Access: 3 Simple Steps
                    </h1>
                    <p class="text-muted mx-auto">
                        Seamlessly navigate our app with these easy steps to enjoy hassle-free lab entry and enhanced learning experiences.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-lg-4">
                    <div class="card shadow-none bg-gray-50 shapes" data-aos="fade-up" data-aos-duration="100">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                        <div class="card-body text-center py-0">
                            <h3 class="fw-semibold mt-0">Secure Access</h3>
                            <p class="fs-14">
                                Log in securely to your account using your university PRN and get ready to explore the world of effortless lab access."
                            </p>
                            <div class="px-2 mt-3">
                                <img class="img-fluid mt-2" src="/assets/img/features/app2.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-none bg-gray-50 shapes" data-aos="fade-up" data-aos-duration="300">
                        <div class="shape3"></div>
                        <div class="shape4"></div>
                        <div class="card-body text-center py-0">
                            <h3 class="fw-semibold mt-0">Quick Registration</h3>
                            <p class="fs-14">
                                Easily register as a student by providing essential details. Your gateway to streamlined lab entry is just a few taps away.
                            </p>
                            <div class="px-2 mt-3">
                                <img class="img-fluid mt-2" src="/assets/img/features/app3.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-none bg-gray-50 shapes" data-aos="fade-up" data-aos-duration="500">
                        <div class="shape5"></div>
                        <div class="shape6"></div>
                        <div class="card-body text-center py-0">
                            <h3 class="fw-semibold mt-0">Central Hub</h3>
                            <p class="fs-14">
                                Effortlessly scan QR codes with the Scan Table and track your entries in real-time with the Total Entry Table. Your control center for streamlined lab access.
                            </p>
                            <div class="px-2 mt-3">
                                <img class="img-fluid mt-2" src="/assets/img/features/app4.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <section class="hero-4 pb-5 pt-7 py-sm-7 bg-gradient2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <h1 class="hero-title">Here for You: Reach Out Anytime, Anywhere</h1>
                        <p class="text-muted fs-17">
                            Have queries or need help? As your dedicated support, feel free to drop me a message, and I'll get back to you promptly to ensure your experience is smooth and hassle-free.
                        </p>
                        <a href="mailto:sagarinnovate@gmail.com" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-primary">Contact Support</button>
                          </a>
                        <div class="mt-5">
                            <div class="form-control-with-hint">
                                <span class="form-control-feedback"><i class="icon-xs" data-feather="search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright">
                <span>Copyright © 2023-24 | Developed by Sagar </span>
            </div>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/aos.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>